<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790703100182-p067aco4c7m3or10v8n5boe52mdh57mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790703100182-p067aco4c7m3or10v8n5boe52mdh57mc</string>
	<key>API_KEY</key>
	<string>AIzaSyDhukX6xkxSyEQPtGDULbAtDYN1lDDpASc</string>
	<key>GCM_SENDER_ID</key>
	<string>790703100182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmelendez.SFBooks</string>
	<key>PROJECT_ID</key>
	<string>sfbooks-619d4</string>
	<key>STORAGE_BUCKET</key>
	<string>sfbooks-619d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790703100182:ios:2794e0cf09e4621307c037</string>
</dict>
</plist>